---
layout: page
title: RuralGig | Home
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <img src="img/ruralgig_white_500.png" alt="Img">
          <p>Wireless Broadband Internet Service Provider</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
          </div>
            <p>We are a Wireless Internet Service Provider (WISP), with service in and around the Casco and Ganges Townships.</p>
            <p>We were frustrated in the available options to us in our great little community.
            The cable companies have little interest in getting you online. DSL might be available, but only to a select
            few locations, and it's slow and unreliable. Satellite might be fast, but the monthly limits make it unusable
            for any real internet activity.</p>
            <p>We are three local residents who have set up a small company to bring the kind of internet service we want to our community.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/macbook.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/force-200.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>We believe high speed internet is a right</h2>
          </div>
          <p>We will get you online with reliable high speed internet, where other providers have left you stranded.
            Using the latest in wireless networking technologies, provided by Cambium Networks, bringing the
           internet standards that you expect to your home.</p>
          <p>A small antenna, outside your house, will connect you to our main tower. Inside, it connects to
          your wireless router or other equipment, providing access to all of your devices. If desired, we can even 
          supply wireless services for inside your home.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>RuralGig will work with you to get the service you need, at a reasonable price.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-wifi"></i>
          <h4>Connectivity</h4>
          <p>Our goal is to provide a minimum of 10Mb speeds to each location. Other speeds will be available in the future.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-speedometer"></i>
          <h4>Unlimited Usage</h4>
          <p>There are no data usage limits or overage charges. You can browse and stream movies all month long.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-social-usd"></i>
          <h4>Simple Rates</h4>
          <p>Upfront pricing and billing with no introductory fees or surprise charges.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-home"></i>
          <h4>Installation</h4>
          <p>We have certified technicians available to install the equipment at your premises.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Recent News</h2>
          {% assign post = site.posts.first %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
          <p class="post-date">{{ post.date | date_to_long_string }}</p>
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Contact Links</h2>
        <ul class="social-icons">
          <li>
            <a href="mailto:info@ruralgig.com"><i class="fa fa-envelope-o"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/RuralGig/"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/RuralGig"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
